p {
  color: rgb(0, 0, 0);;
  font-size: 20px;
  font-family: cursive;
  text-align: left;

}

.Info {
color: rgb(26, 102, 0);
font-size: 30px;
font-style: normal;
font-family: sans-serif;
text-align: left;;

}
 img.displayed {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 h1, h3{
   margin-top: 15px;
   margin-bottom: 15px;
 }

 li {
   font-size: 20px;
   font-style: normal;
   font-family: sans-serif;
   text-align: left;
   color: rgb(70, 39, 37);

 }

#title{
  font-size: 30px;
  text-align: center;
}

body{
background-image: url("http://i.stack.imgur.com/jGlzr.png");
background-repeat: no-repeat;
background-size: cover;
opacity: 1.0;
}
