p {
  color: rgb(89, 134, 45);;
  font-size: 20px;
  font-family: cursive;
  text-align: left;
  font-style: normal;
}

.Info {
color: rgb(128, 191, 64);
font-size: 30px;
font-style: normal;
font-family: sans-serif;
text-align: left;;

}
 img.displayed {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

 h1, h3{
   margin-top: 15px;
   margin-bottom: 15px;
 }

 li {
   font-size: 20px;
   font-style: normal;
   font-family: sans-serif;
   text-align: left;
   color: rgb(116, 39, 37);

 }

#title{
  font-size: 30px;
  text-align: center;
}

body{
background-image: url("http://www.buffalo.edu/content/shared/university/news/news-center-releases/2013/04/005/jcr%3acontent/par/image.img.447.auto.jpg/1365086521092.jpg");
background-repeat: no-repeat;
background-size: cover;
}
